@import '_variables.scss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

app-questions-list {
  .mat-list-base .mat-list-item.mat-2-line,
  .mat-list-base .mat-list-option.mat-2-line {
    height: auto !important;
  }
}

[ngxSwipeAction] {
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
  .swipe-action-wrapper {
    height: 100%;
    background: $warn;
    position: absolute;
    top: 0;
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.1);

    mat-icon {
      &.active {
        transform: scale(2);
      }
    }
  }
}
